 #player {
   --background-color: rgb(42, 42, 42);
   --progress-color: rgb(255, 255, 255);
   --theme-hue: 210;
   --logo-image: url("../../../public/dr_logo.svg");
   --logo-size: 50%;
   --splash-image: url("../../../public/splash.png");
   --splash-size: 100%;
   --watermark-image: url("../../../public/dr_logo.svg");
 }

 
 .breakInfo {
   visibility: hidden !important;
 }